.html, body, main {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    background-color: #fdfaf6;
}

.frontend{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    width: 400px;
    text-align: center;
}
.frontend h1 {
    font-size: 22px;
    color: #0063c5;
    margin: 0 0 20px 0;       /* espace sous le titre */
    padding-bottom: 10px;
}

.logo-frontend {
    width: 40px;
    height: auto;
}

.backend {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    width: 400px;
    text-align: center;
}

.skills{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    width: 400px;
    text-align: center;
}

.skills h1{
    font-size: 22px;
    color: #0063c5;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
}

.backend h1 {
    font-size: 22px;
    color: #0063c5;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
}

.logo-backend {
    width: 40px;
    height: auto;
}

.logo-skill {
    width: 40px;
    height: auto;
}

.skills-backend {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 12px;
    justify-items: center;
    align-items: start;
}

.skills-frontend {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 12px;
    justify-items: center;
    align-items: start;
}

.skills-display{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 12px;
    justify-items: center;
    align-items: start;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* espace entre les cadres */
    flex-wrap: wrap; /* pour que ça passe bien sur mobile */
}



.pied_page {
    width: 100%;
    background-color: #0063c5;
    text-align: center;
    color: #ffffff;
    padding: 14px;
}

.mail-link {
    color: #ffffff;
    text-decoration: none;
}

#test {
    text-transform: capitalize;
}