/*GRID DES SKILLS*/

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
    
    color: white;
}

html{
    height: 100%;
}

body{
    background-color: #282c33;
    min-height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

.main{
    margin: 50px 250px;
    display: flex;
    flex-direction: column;
    row-gap: 200px;
}

#button:hover{
    background-color: #304f5c;
    transition: 0.5s ease;
}

h1{
    font-size: 250%;
}

a{
    text-decoration: none;
}



.bluetext{
    color: #3ab2e6;
}

.presentation{
    display: flex;
    gap: 40px;
}

.presentation_content{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: flex-start;
}

.presentation_text{
  flex: 1;                    /* occupe l'espace restant */
  display: flex;
  flex-direction: column;
  justify-content: center;   /* centre verticalement les textes */
  gap: 20px;
}

p{
    color: #afb6c4;
}

img{
    display: block;
}

.presentation_illustration{
    position: relative;
}

.presentation_image{
    position: relative;
    max-width: 496px;
    border-radius: 45%;
    z-index: 2;
}

.background_image{
    position: absolute;
    right: 15%;
    transform: rotate(0deg);
    top: 20%;
    z-index: 1;
    max-width: 400px;
}

.contactredirect_button{    /* décale uniquement le bouton */
    align-self:flex-start;     /* le garde aligné à gauche */
    padding: 8px 16px;
    border: 1px solid #3ab2e6;
}

.buttons_about{
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    gap: 20px;
}

.buttons_about a{
    padding: 8px 25px;
    text-align: center;
    border: 1px solid #3ab2e6;
}




/* ===================== */
/*         SKILLS        */
/* ===================== */

.skills{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}



.competences-title{
    padding-right: 1000px;
    text-align: left;
    font-size: 40px;
}

.skills-container h1{
    font-size: 200%;
    width: 250px;
}

.logo{
    height: 80px;
    width: 80px;
    object-fit: contain;
    
}




.skills-container{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.skill-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid rgb(175, 172, 172);
    justify-items: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 250px;
}

.skill-unit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.skill-unit h2{
    font-size: 100%;
}



.frontend{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.backend{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.generic{
    display: flex;
    flex-direction: column;
    text-align: center;
}



/* ===================== */
/*       PROJECTS        */
/* ===================== */


.projects{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.projects-title{
    padding-right: 1050px;
    text-align: left;
    font-size: 40px;
}






/* ===================== */
/*         FOOTER        */
/* ===================== */


.footer{
    margin-top: auto;
    background-color: #22252b;
    width: 100%;
    margin-left: 0;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.school_logo{
    position: relative;
    width: 50px;
    align-self: center;
}
